body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10; /* Ensure it is above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1px; 
  background-color: #98CEFF; /* Make the header transparent */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
}

.slogan {
  font-weight: bold;
  position: absolute;
  bottom: 10%; /* Adjust this value to position the text as needed */
  left: 50%;
  transform: translateX(-50%); /* This will center the slogan */
  color: #fff; /* White text color, change as needed */
  font-size: 1.5em; /* Adjust size as needed */
  white-space: nowrap; /* Keeps the text on a single line */
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: Adds a shadow for better readability */
}

.nav-item, .nav-brand {
  /* Reduce the margin value to bring the items closer */
  margin: 0 0.5rem; /* Adjust the left and right margin as needed */
  text-decoration: none;
  color: #FFFFFF; /* Adjust the color as needed */
  font-size: 1rem; /* Adjust the font size as needed */
}

.nav-item {
  /* Reduce the margin value to bring the items closer */
  margin: 0 2rem; /* Adjust the left and right margin as needed */
  text-decoration: none;
  padding: 10px 20px;
  color: #FFFFFF; /* Adjust the color as needed */
  font-size: 1rem; /* Adjust the font size as needed */
}

.nav-item:hover {
  color: #013689;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.25rem; /* Adjust the font size as needed */
  text-decoration: none;
}

.nav h2{
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #5579FF, #00E5CD);
}

.home {
  width: 50%; /* Adjust based on your image's aspect ratio */
  margin: auto; /* Centers the image horizontally */
}

.cloud {
  width: 15%; /* Adjust based on your cloud image's size */
  position: absolute; /* Absolute positioning relative to their container */
}

.left-cloud {
  left: 0; /* Aligns the cloud to the left */
  top: 30%; /* Positions the cloud vertically */
  transform: translateY(-50%); /* Centers the cloud vertically */
}

.right-cloud {
  right: 0; /* Aligns the cloud to the right */
  top: 70%; /* Positions the cloud vertically */
  transform: translateY(-50%); /* Centers the cloud vertically */
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os itens na horizontal */
  align-items: center;
  position: absolute;
  background-color: #98CEFF;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  width: 100%;
  top: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 99;
  max-height: 0;
}

.show {
  max-height: 400px; /* Ajuste conforme a necessidade para mostrar todo o conteúdo */
}

.square {
  width: 16%; /* Ajuste a largura como necessário */
  margin: 1%; /* Espaço entre os quadrados */
  margin-top: 3.4%;
  background-color: rgb(255, 255, 255);
  height: 300px; /* Ajuste a altura como necessário */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px; /* Borda arredondada para os quadrados */
  padding: 20px 10px; /* Isso adiciona um pouco de espaço dentro da caixa para que o texto não toque as bordas */
  box-sizing: border-box; /* Isso garante que o padding seja incluído na largura e altura total */
}

.square h2 {
  background-color: rgb(35, 151, 218); /* Fundo azul */
  color: #ffffff; /* Cor do texto em branco */
  padding: 10px; /* Espaçamento interno */
  border-radius: 10px 10px 0 0; /* Bordas arredondadas apenas na parte superior */
  margin: 0; /* Remove margens padrão */
}

.square p {
  background-color: #ffffff; /* Fundo branco */
  color: #333333; /* Cor do texto */
  padding: 10px; /* Espaçamento interno */
  border-radius: 0 0 10px 10px; /* Bordas arredondadas apenas na parte inferior */
  margin: 0; /* Remove margens padrão */
}

.dropdown a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: block; /* Ensure links take up full area */
}

.dropdown a:hover {
  background-color: rgb(22, 95, 138);
  transform: scale(1.1); /* Slightly increase size on hover */
}

.active-link {
  color: #013689 !important; /* Sobrescreve outras cores aplicadas e usa 'black' */
  text-decoration: underline !important; /* Sobrescreve outras decorações de texto e sublinha */
}

/* Estilos Básicos, aplicáveis a todas as larguras de tela */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Media Query para dispositivos menores */
@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row; /* Garante que o menu seja horizontal */
    justify-content: space-around; /* Distribui os itens do menu uniformemente */
    align-items: center; /* Centraliza os itens verticalmente */
    width: 100%; /* Ocupa toda a largura da tela */
    flex-wrap: wrap; /* Permite que os itens se ajustem conforme o espaço disponível */
  }

  .nav-item {
    padding: 5px; /* Espaçamento adequado para toque */
    font-size: 0.8rem; /* Ajusta o tamanho da fonte para telas menores */
    white-space: nowrap; /* Impede que os títulos se quebrem em mais de uma linha */
  }
}

@media (max-width: 480px) {
  .nav-item {
    padding: 5px 5px; /* Ajusta o padding para telas muito pequenas */
  }
}

.nav-item, .nav-brand {
  text-decoration: none; /* Remove sublinhado */
  color: white; /* Herda a cor do texto */
  display: flex; /* Altera para block para suportar o padding */
}